<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Undergraduate Research Fellowship - Cheriton School of Computer Science</title>
  <meta name="description" content="undergradute research fellowship">
  <meta name="author" content="Ali Mashtizadeh">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <style>
  body {
    font-size: 14pt;
  }
  </style>
</head>
<body>
  <div class="container">
  <h4 style="font-weight: bold;">
  WATERLOO | <span style="color: #80001F;">CHERITON SCHOOL OF COMPUTER SCIENCE</span>
  </h4>
  </div>
  <div class="container">
    <div class="row">
      {{ bodytxt }}
    </div>
  </div>
</body>
</html>
